* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #606c38;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 80px;
    margin-left: 10px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #555;
}

.container {
    width: 100%;
    height: 669px;
    background-image: url(media/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #1b4332;
}

p {
    color: white;
}