* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 80px;
    margin-left: 10px;
}

a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #555;
}

.container {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(media/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1b4332;
    border-radius: 5px;
}

input {
    margin: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fefae0;
}

input::placeholder {
    padding: 10px;
    font-size: 14px;
}

.row4 {
    width: 462px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description {
    margin-left: 30px;
    width: 500px;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #bc6c25;
}

.row5 {
    width: 462px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}