* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #606c38;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 80px;
    margin-left: 10px
}

a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #555;
}

.container {
    width: 100%;
    height: 669px;
    background-image: url(media/image5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: #a6e1fa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.add-to-cart-btn {
    /* Add your desired button styles here */
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    /* Add your desired hover styles here */
    background-color: #45a049;
}